@using Nufi.kyb.v2.Components
@{
  ViewData["Title"] = "Resumen Empresas - Antecedentes Judiciales";
}

@section sidebar{
@(await Html.RenderComponentAsync<Sidebar>(RenderMode.ServerPrerendered))
}

@section header{
@(await Html.RenderComponentAsync<Header>(RenderMode.Static, new {index="false"}))
}

<div class="container flex flex-column justify-content-center">
  <h1 class="display-4 text-center">Antecedentes Judiciales</h1>
  <div class="accordion inAccordion">
    <div class="container-fluid p-0">
    </div>
  </div>
</div>

