@import "variables";


.menu-btn__icon {
  font-weight: 500;
}

.sidebar {
  z-index: 1100;
  position: fixed !important;
  margin-left: calc(-1 * $sideBarSize - 50px);
  transition: $transition-time;
  height: 100vh;
  width: $sideBarSize;
  background-color: white;
}

.main-container {
  transition: $transition-time;
}

.sidebar.active {
  margin-left: 0;
}

.main-container.active {
  margin-left: $sideBarSize;
}


/*Inner sidebar Style*/
.profile-picture img {
  object-fit: cover;
  border-radius: 50%;
}

.side-menu > li:hover {
  background-color: $light-blue;
}

#sidebar > ul:nth-child(4) > li > i,
#sidebar > ul:nth-child(4) li a {
  color: red;
}

.sidebar-back {
  background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
  width: 500vw;
  height: 100vh;
  position: fixed;
  right: 100%;
  transition: $transition-time;
  z-index: 1;
}

.sidebar-back.active {
	right: -400%;
}

@media (max-width: $xl-breakpoint) {
  .main-container.active {
    margin-left: 0;
  }
}

@media (min-width: $xl-breakpoint + 1) {
  .sidebar-back.active {
	  right: 100%;
  }
}
