@import 'variables';

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";

@import 'header.scss';
@import 'sidebar.scss';
@import 'tabs.scss';
@import 'form.scss';
@import 'accordion.scss';
@import 'attached_sections';

h1 {
	margin: 1em;
}

.section {
  display: none;
}

.activeSection {
  display: block;
}

.mio {
  border: 1px solid red;
}
